
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$client-primary: mat.define-palette(mat.$indigo-palette);
$client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$client-theme: mat.define-light-theme((
  color: (
    primary: $client-primary,
    accent: $client-accent,
    warn: $client-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($client-theme);

/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/Mulish/Mulish-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Mulish Semibold";
  src: url("/assets/fonts/Mulish/Mulish-SemiBold.ttf");
}


html, body { height: 100%; }
body { margin: 0; padding: 0; font-family: "Mulish Semibold"; }


.title-card{
  padding: 0!important;
  margin: 0!important;
  font-family: "Montserrat"!important;
  font-weight: bold!important;
  color: #F2753B!important;
}

.subtitle-card{
  padding: 0!important;
  margin: 0!important;
  font-family: "Mulish"!important;
  font-weight: bold!important;
  color: rgba($color: #000000, $alpha: 0.3)!important;
}

.text-card{
  padding: 0!important;
  margin: 0!important;
  font-family: "Montserrat"!important;
  font-weight: bold!important;
  color: #F2753B!important;
}
