<div class="body">
    <mat-card>
        <div fxLayout='row' fxFlexFill>
            <div fxFlex.gt-sm="25" fxFlex.lt-md="50" fxHide.xs>
                <div fxFlexFill>
                    <div class="img-container">
                        <img class="img" alt="player" [src]="player?.picture" >
                    </div>
                </div>
            </div>
            <div fxFlex.gt-sm="75">
                <div fxLayout='row wrap'>
                    <div fxFlex.gt-sm="75" fxFlex.lt-md="100" fxLayoutAlign.gt-xs="start center" fxLayoutAlign.xs="center center">
                        <div fxLayout='column' class="player-name">
                            <h2 class="player-firstname">{{ player?.firstname }} </h2><br>
                            <h1 class="player-lastname title-card">{{ player?.lastname }}</h1>
                        </div>
                    </div>
                    <div fxFlex.gt-sm="25" fxFlex.lt-md="100" fxLayout='column' fxLayoutAlign="center center">
                        <img class="country-flag" alt="country" [src]="player?.country?.picture" >
                        <p class="country-code">{{ player?.country?.code }}</p>
                    </div>
                </div>
                <div fxLayout='row wrap' fxLayoutAlign="center start">
                    <div fxFlex.gt-sm="75" fxFlex.lt-md="100" fxFlexFill fxLayout='column' fxLayoutAlign="space-between center" class="infos">  
                        <div fxLayout='row' class="detail-row" fxFlexFill>
                            <div fxFlex="33.3">
                                <h4 class="subtitle-card">RANK</h4>
                                <p class="text-card">{{ player?.data?.rank }}</p>
                            </div>
                            <div fxFlex="33.3">
                                <h4 class="subtitle-card">POINTS</h4>
                                <p class="text-card">{{ player?.data?.points }}</p>
                            </div>
                            <div fxFlex="33.3">
                                <h4 class="subtitle-card">COUNTRY</h4>
                                <p class="text-card">{{ player?.country?.code }}</p>
                            </div>
                        </div>
                        <div fxLayout='row' class="detail-row"fxFlexFill>
                            <div fxFlex="33.3">
                                <h4 class="subtitle-card">BIRTHDAY</h4>
                                <p class="text-card"></p>
                            </div>
                            <div fxFlex="33.3">
                                <h4 class="subtitle-card">AGE</h4>
                                <p class="text-card">{{ player?.data?.age }}</p>
                            </div>
                        </div>
                        <div fxLayout='row' class="detail-row" fxFlexFill>
                            <div fxFlex="33.3">
                                <h4 class="subtitle-card">WEIGHT</h4>
                                <p class="text-card">{{ player?.data?.weight }} kg</p>
                            </div>
                            <div fxFlex="33.3">
                                <h4 class="subtitle-card">HEIGHT</h4>
                                <p class="text-card">{{ player?.data?.height }} m</p>
                            </div>
                        </div>
                    </div>
                    <div fxFlex.gt-sm="25" fxFlex.lt-md="100" class="infos">
                        <h4 class="subtitle-card">CAREER TITLE</h4>
                    </div>
                </div>
            </div>
        </div>
        
    </mat-card>
</div>
